.navbar{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding:15px 60px;
    box-shadow: 0 2px 5px -5px black;
    background-color:rgb(171, 16, 16);
    position: relative;
    z-index: 100;
}
.navbar-right{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.nav-logo{
    width:170px;
}